<div>
  <header class="intro-header" style="background-image: url('assets/images/post-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1>{{$ctrl.detailThing.title}}</h1>

            <span class="meta">Posted by <a href="#">{{$ctrl.detailThing.author}}</a> on{{$ctrl.detailThing.created_at |date :format:'medium'}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-6 left-column">
        <div class="iframe-video">
          <iframe width="80%" height="100%" ng-src="{{$ctrl.detailThing.video_online}}"></iframe>
        </div>
      </div>
      <div class="col-md-5 right-column">
        <p>Despre conferinta</p>
        <p>{{$ctrl.detailThing.info}}</p>
        <h3>Detalii: </h3>
        <div class="info-table">
          <div class="info-row">
            <div class="info-label">Tip conferinta</div>
            <div class="info">{{$ctrl.detailThing.project_info_type}}</div>
          </div>
          <div class="info-row">
            <div class="info-label">Didficultate</div>
            <div class="info">{{$ctrl.detailThing.project_info_difficulty}}</div>
          </div>

          <div class="info-row">
            <div class="info-label">Durata conferintei</div>
            <div class="info">{{$ctrl.detailThing.project_info_estimated_time}}</div>
          </div>
          <div class="info-row">
            <div class="info-label">Data adaugarii</div>
            <div class="info">{{$ctrl.detailThing.created_at}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <blockquote>Detalii</blockquote>
          <p>{{$ctrl.detailThing.story}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">Comentarii</div>
            <div class="panel-body" ng-repeat="post in $ctrl.detailThing.comments">
              <ul>
                <li>
                  <strong>{{post.content}}</strong><br/>
                  Adugat de {{post.author}}<br/>
                </li>
              </ul>
            </div>
          </div>
        </div>


    </div>
</div>

</article>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <form class="add-comment">
        <input type="text" class="form-control" placeholder="Adaugare comentariu" ng-model="$ctrl.newCommentContent">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addComment()">Adaugare</button>
      </span>
      </form>
    </div>
  </div>
</div>


</div>

