<header class="intro-header" style="background-image: url('assets/images/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Adaugare conferinta</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <form class="thing-form">
        <label>Adaugare nou eveniment</label>
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Adaugare titlu" ng-model="$ctrl.newTitle">
          <input type="text" class="form-control" placeholder="Adaugare informatii" ng-model="$ctrl.newInfo">
          <input type="text" class="form-control" placeholder="Adaugare detalii" ng-model="$ctrl.newStory">
          <input type="text" class="form-control" placeholder="Adaugare tehnologie" ng-model="$ctrl.technology">
          <input type="text" class="form-control" placeholder="Adaugare video" ng-model="$ctrl.newVideo">
          <input type="text" class="form-control" placeholder="Adaugare tip conferinta" ng-model="$ctrl.newProjectType">
          <input type="text" class="form-control" placeholder="Adaugare nivel de dificulatate" ng-model="$ctrl.newProjectDifficulty">
          <input type="text" class="form-control" placeholder="Adaugare durata" ng-model="$ctrl.newProjectEstimatedTime">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Adaugare</button>
      </span>
        </p>
      </form>
    </div>
  </div>

</div>
